body {
	font-family: 'Dosis', 'Kosugi Maru', 'Roboto';
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

.sbWrapper {
	position: absolute;
	top: 40px;
	left: 50px;
	height: 140px;
	width: 300px;
}

.sbBackground {
	position: absolute;
	top: 0px;
	height: 90px;
	width: 300px;
	background-color:#262E47;
	border-radius: 3px 3px 0px 0px;
	display: grid;
	grid-template-columns: 6fr 1fr;
	grid-template-rows: 1fr 1px 1fr;
	grid-template-areas: "a b" "c c" "d e";
	align-items: center;
}

.sbBGWrapper {
	position: absolute;
	top: 0px;
	height: 90px;
	width: 300px;
	overflow: hidden;
}

.colorContainer {
	width: 30px;
	height: 89px;
	gap: 4px;
	position: absolute;
	right: 43px;
	top: 1px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

.color {
	margin: 6px;
	border-radius: 3px;
}

.colorA {
	background-color: #FB7B08;
}

.colorB {
	background-color: #B51CCE;
}

.teamInfo {
	display: flex;
	margin-left: 10px;
	color: white;
	font-weight: 700;
	font-size: 2em;
}

.score {
	font-weight: 600;
	font-size: 2em;
	color: white;
	text-align: center;
	background-color: #181B34;
	border-radius: 0 3px 0 0;
	padding: 2px 4px;
}

.placeholder {
	position: absolute;
	width: 1920px;
	height: 1080px;
	top: 0;
	left: 0;
	z-index: -999;
	display: none;
}

.sbBrandLine {
	position: absolute;
	bottom: 5px;
	height: 45px;
	width: 300px;
	background-image: url('../../img/sos-sbtopbar.png');
	background-size: fit;
	background-repeat: no-repeat;
	z-index: 10;
	clip-path: polygon(0px 0px, 300px 0px, 300px 300px, 0px 300px);
}

.sbFlavorTextBG {
	position: absolute;
	bottom: 16px;
	right: 0;
	height: 25px;
	width: calc(100% - 72px);
	background-color: #262E47;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}


.sbFlavorTextBG fitted-text {
	color: white;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
}

.sbLINE {
	background-color: #b6f2dd;
	grid-area: c;
	height: 1px;
}

span.pronoun {
	font-size: 20px;
	background-color: #BFFBE3;
	padding: 0 5px;
	color: black;
}

.castersWrapper {
	position: absolute;
	top: 200px;
	left: 50px;
	opacity: 0;
}

.castersBG {
	background-color: #262E47;
	color: white;
	font-size: 2em;
	width: 235px;
	padding: 5px 10px;
	border-radius: 3px;
	margin-left: 45px;
}

.castersIcon {
	height: 100%;
	width: 48px;
	background: linear-gradient(135deg, #2f7385, #b6f2dd);
	position: absolute;
	z-index: -1;
	border-radius: 3px 0 0 3px;
	display: flex;
	align-content: center;
	align-items: center;
}

.castersIcon img {
	height: 45px;
}
